name: Sync to Hugging Face

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Fetch all LFS objects
        run: git lfs pull

      - name: Install git-xet and configure
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/huggingface/xet-core/refs/heads/main/git_xet/install.sh | sudo sh
          git xet install
          git xet --version

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          pip install -U huggingface_hub hf_xet
          python -m huggingface_hub.cli upload dmpantiu/Eurus . . --repo-type space --token $HF_TOKEN

